<%-include('./partials/header')%>

<div class="container">

	<div class="row">
		
		<%user.businesses.forEach(function(business){ if(business.deleted){ %>
		<div class="card col-md-4 m-3" style="width: 18rem;">
			<div class="card-header">
				<%=business.name%>
			</div>
			<div class="card-body">
				<h5 class="card-title">Address: <%=business.address%></h5>
				<h6 class="card-subtitle mb-2 text-muted">Area: <%=business.landmark%>, <%=business.pincode%></h6>
				<p class="card-text"><%=business.days%></p>
				<a href="#" class="card-link"><%=business.owner.username%></a>
				<a href="#" class="card-link"><%=business.owner.email%></a>
				<form action="/business/<%=business._id%>/undodelete?_method=PUT" method="POST">
					<button class="btn btn-primary">Undo Deletion</button>
				</form>
			</div>
		</div>
		<%}});%>
	</div>
</div>

<%-include('./partials/footer')%>