
<%-include("./partials/header")%>
<div class="container">
	<%if(!user){%>
	<div class="card text-center m-5">
		<div class="card-header">
			Add Your Business to the website.
		</div>
		<div class="card-body">
			<h5 class="card-title">Parlour? Bakery? Karyana?</h5>
			<a href="/Business/new" class="btn btn-success btn-lg">Add Your Business</a>
		</div>
		<div class="card-footer text-muted">
			Get More Audience for your business.
		</div>
	</div>
	<%}else{%>
	<div class="container mt-4 mb-4">
		<a href="/Business/new" class="btn btn-success btn-lg">Add New Business</a>
		<a href="/user/<%=user.id%>/deletedBusinesses" class="btn btn-success btn-lg">Deleted Business</a>
	</div>
	<div id="accordion mt-0">

		<%user.businesses.forEach((bus)=>{if(!bus.deleted){%>
		<div class="card ">
			<div class="">
				<div class="card-header d-flex p-1" id="<%=bus._id%>">
					<a class="btn w-100 text-left" data-toggle="collapse" data-target="#<%=bus._id%>con" aria-expanded="true" aria-controls="<%=bus._id%>con">
						<%=bus.name%>
					</a>
					<a href="/business/<%=bus._id%>/edit" class="align-self-center mr-3">Edit</a>
					<form action="/business/<%=bus._id%>?_method=DELETE" method="POST">
						<button type="submit" class="btn btn-link">Delete</button>
					</form>
				</div>
			</div>

			<div id="<%=bus._id%>con" class="collapse show" aria-labelledby="<%=bus._id%>" data-parent="#accordion">
				<div class="card-body">

					<nav>
						<div class="nav nav-tabs mb-2" id="nav-tab" role="tablist">
							<a class="nav-item nav-link active" id="nav-Pending-tab" data-toggle="tab" href="#nav-Pending" role="tab" aria-controls="nav-Pending" aria-selected="true">Pending <span class="badge badge-primary badge-pill"><%=bus.pendingOrders.length%></span></a>
							<a class="nav-item nav-link" id="nav-Completed-tab" data-toggle="tab" href="#nav-Completed" role="tab" aria-controls="nav-Completed" aria-selected="false">Completed <span class="badge badge-primary badge-pill"><%=bus.completedOrders.length%></span></a>
						</div>
					</nav>
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="nav-Pending" role="tabpanel" aria-labelledby="nav-Pending-tab">
							<ul class="list-group">
								<%bus.pendingOrders.forEach((order)=>{%>
								<li class="list-group-item d-flex justify-content-between"><a href="/order/<%=order.id%>"><%=order.content%></a></li>
								<%});%>
							</ul>
						</div>
						<div class="tab-pane fade" id="nav-Completed" role="tabpanel" aria-labelledby="nav-Completed-tab">
							<ul class="list-group">
								<%bus.completedOrders.forEach((order)=>{%>
								<li class="list-group-item d-flex justify-content-between"><a href="/order/<%=order.id%>"><%=order.content%></a></li>
								<%});%>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%}})};%>
	</div>
</div>

<%-include("./partials/footer")%>